<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel Liss</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header" class="cf">
        <div class="container">
            <section id="logo" class="logo">
                <a href="/" title="Hotel Liss Lezhe">
                    <img src="images/hotel-liss-logo.png" alt="Hotel Liss Lezhe">
                </a>
            </section>
            <nav id="navigation">
                <ul class="menu">
                    <li><a href="#" title="Hotel">Hoteli</a>
                        <div class="sub-menu">
                            <ul>
                                <li><a href="#">Informacion</a></li>
                                <li><a href="#">Statistika</a></li>
                                <li><a href="#">Mundesi Punesimi</a></li>
                                <li><a href="#">Aktivitete</a></li>
                                <li><a href="#">Turizmin</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="active"><a href="#" title="Restoranti">Restoranti</a></li>
                    <li><a href="#" title="Kontakt">Kontakt</a>
                        <div class="sub-menu">
                            <ul>
                                <li><a href="#">Informacion</a></li>
                                <li><a href="#">Statistika</a></li>
                                <li><a href="#">Mundesi Punesimi</a></li>
                                <li><a href="#">Aktivitete</a></li>
                                <li><a href="#">Turizmin</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" title="Rezervime">Rezervime</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
        <div class="slider-wrapper">
            <div class="slider-content container">
                <ul>
                    <li>
                        <img src="images/cover.jpg" alt="">
                        <div class="titulli">
                            <span class="titull1">Lorem Ipsum</span>
                            <span class="titull2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia recusandae animi odit veritatis</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row cf" id="contact-row">  
            <div class="container">
                <div class="col col-2" id="phone-number" >
                    <span>TELEFONONI NE <a href="tel:+35511111111">(+355)11111111</a></span>
                    <p>Mos hezitoni te na kontaktoni.</p>
                </div>
                <div class="col col-2" id="reserve-button">
                    <img src="images/reserve_button_sq.png" alt="">
                </div>
            </div>
        </div>
            <div id="bottom-stripes"></div>
    </div>
    <article class="container">
       <div class="row cf" id="home-3-img">
           <div class="col-3">
                <div class="content">
                   <h2><span>DHOMAT</span></h2>
                   <img src="images/module7.jpg" alt="">
                </div>
           </div>
           <div class="col-3">
            <div class="content">
            <h2><span>Restoranti</span></h2>
            <img src="images/module5.jpg" alt=""></div>
            </div>
           <div class="col-3">
           <div class="content">
               <h2><span>Bari</span></h2>
               <img src="images/module6.jpg" alt="">
           </div>
           </div>
       </div>
    </article>
</body>
</html>